h1 {
  font-size: 4.3em;
}

nav a {
  font-size: 1.3em;
  color: lightgray;
  width: auto;
  height: 50px;
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  border-radius: 4px;
  line-height: 50px;
}

nav a:visited {
  color: lightgray;
}

nav a:hover {
  color: #039be5;
  background-color: #111;
  opacity: 0.5;
}

nav a:active {
  border: 1px solid #039be5;
}
