[class*='col-'] {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.col-1-4 {
  width: 25%;
}
.dashBtns {
  font-size: 1.5em;
  vertical-align: center;
  padding: 20px;
  text-align: center;
  color: lightgray;
  max-height: 120px;
  min-width: 120px;
  background-color: #21658c;
  border-radius: 6px;
}

.dashBtns:hover{
  color: #fff;
}

#grid-wrap {
  border: 1px solid white;
  padding: 25px;
  height: 600px;
}

.grid {
  margin: 0;
}

.grid-pad {
  padding: 10px 0;
}

.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}
