<br><br>
<video id="my-video" class="video" autoplay="autoplay" width="300" height="150">
  <source src="./assets/media/civil.mp4" type="video/mp4" />
  <source src="./assets/media/avengers.ogv" type="video/ogg" />
  <source src="./assets/media/avengers.webm" type="video/webm" />
</video>

<div id="grid-wrap" class="background">
  <div class="grid grid-pad">
    <div *ngFor="let meta of metas" class="col-1-4">
      <div class="dashBtns hero">
        <h4>{{meta.name | uppercase}}</h4>
        <div id="meta-logo"><img src = '{{meta.logo}}' alt = 'Meta Symbol' ></div>
      </div>
    </div>
  </div>
</div>
